<!DOCTYPE html>
<html lang="sv" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "user-scalable = yes, width = 720">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>Regler och villkor</title>
    <link href="/static/css/terms.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
</head>

<h1>Användarvillkor</h1>

<h3>Personuppgifter</h3>

<p>Aftonbladet lagrar och behandlar vissa personuppgifter i syfte att kunna tillhandahålla, administrera och kontrollera kundernas användning av Aftonbladet. Aftonbladet behandlar även vissa personuppgifter för marknadsföringsändamål. Aftonbladet är personuppgiftsansvarig. Kontaktuppgifter avseende Aftonbladet finns sist i dessa villkor.</p>

<p>Genom att registrera dig samtycker du till att Aftonbladet behandlar dina personuppgifter för ändamål som är hänförliga till Aftonbladets tjänster och betalning för dessa.</p>

<p>Vidare samtycker du till att Aftonbladet kan komma att använda dina personuppgifter för att skicka information eller reklam till dig om Aftonbladet och/eller Aftonbladets produkter och tjänster samt information eller reklam från och/eller om våra samarbetspartners.</p>

<p>Du samtycker vidare till att Aftonbladet lämnar ut dina personuppgifter till bolag inom samma koncern som Aftonbladet samt till Aftonbladets samarbetspartners i den mån detta är nödvändigt för att tillhandahålla, administrera och kontrollera din användning av Aftonbladets tjänster. Aftonbladet kommer inte att lämna ut dina personuppgifter till andra bolag.</p>

<p>Om du vill få information om vilka personuppgifter som rör dig och som behandlas av Aftonbladet kan du skriftligen begära detta genom att skicka ett brev till adressen längst ned i villkoren. Om du vill ändra någon uppgift eller önskar att någon uppgift skall tas bort om du vill eller inte längre vill erhålla information/reklam om Aftonbladet och/eller samarbetspartners är du välkommen att kontakta oss. Adressen finns sist i villkoren. I ditt brev skall du uppge vilka personuppgifter eller andra uppgifter du önskar ändra och på vilket sätt du vill att dessa skall ändras.</p>

<h3>Kontakt</h3>

<p>Vill du ta kontakt med Aftonbladet kan du göra det via mejl på adress kundcenter.plus@aftonbladet.se. Aftonbladets kundcenter når du på telefon 08-56 25 29 89 (telefontiden är vardagar klockan 09.00-10.00) eller via brev till:</p>

<p>Aftonbladet Hierta AB<br>
105 18 Stockholm<br>
Organisationsnummer: 556100-1123<br>
Registreringsnummer för mervärdesskatt: SE556100-1123 01</p>

</body>
</html>